@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@font-face {
    font-family: "Caviar Bold";
    src:
        url("fonts/CaviarDreams_Bold.woff2") format("woff2"),
        url("fonts/CaviarDreams_Bold.woff") format("woff");
}

@font-face {
    font-family: "Caviar Bold Italic";
    src:
        url("fonts/CaviarDreams_BoldItalic.woff2") format("woff2"),
        url("fonts/CaviarDreams_BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Caviar Italic";
    src:
        url("fonts/CaviarDreams_Italic.woff2") format("woff2"),
        url("fonts/CaviarDreams_Italic_1.woff") format("woff");
}

:root {
    --label-font: 
        "Raleway",
        "Caviar Bold",
        system-ui, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    --legend-font: "Caviar Bold Italic", "Caviar Italic", var(--label-font);
}

body {
    --body-height: 100vh;
    --body-width: 100vw;
    --body-padding: 2em;
    height: var(--body-height);
    width: calc(var(--body-width) - 2 * var(--body-padding));
    padding: var(--body-padding);
    /* grid */
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1em;
    align-items: center;
}

.image-sidebar {
    --image-sidebar-height: 100%;
    height: var(--image-sidebar-height);
    width: calc(--image-sidebar-height* (16/9));

    background-image: url(./assets/tobias-tullius-YM6YQMfRzCg-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

form {
    --form-height: 100%;
    height: calc(var(--form-height) * 0.5);
    /* height: calc(var(--height) * 10%); */
    /* height: var(--form-height); */

    font-family: var(--label-font);

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* grid-template-rows: repeat(6, ); */
}

form > legend {
    font-family: var(--legend-font);
    grid-column: 1 / span 2;
}

form > div:has(button) {
    grid-column: 1 / 3;
}

form > p {
    grid-column: 1 / 3;
}


input#first-name:invalid + span::after {
    content: "âŒ";
}

#password:invalid+span::after {
    content: "Two passwords must be consistent."
}