/* @font-face {
    font-family: "Raleway";
    src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
} */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,700&display=swap');
/* @font-face {
    font-family: "Raleway800Italic";
    src: url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,800&display=swap');
} */

@font-face {
    font-family: "Caviar Bold";
    src:
        url("fonts/CaviarDreams_Bold.woff2") format("woff2"),
        url("fonts/CaviarDreams_Bold.woff") format("woff");
}

@font-face {
    font-family: "Caviar Bold Italic";
    src:
        url("fonts/CaviarDreams_BoldItalic.woff2") format("woff2"),
        url("fonts/CaviarDreams_BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Caviar Italic";
    src:
        url("fonts/CaviarDreams_Italic.woff2") format("woff2"),
        url("fonts/CaviarDreams_Italic_1.woff") format("woff");
}

@font-face {
    font-family: "Caviar";
    src: 
        url("fonts/CaviarDreams.woff2") format('woff2'),
        url("fonts/CaviarDreams_1.woff") format('woff');
}

:root {
    --label-font: 
        "Raleway",
        "Caviar Bold",
        system-ui, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    --legend-font: "Caviar Bold Italic", "Caviar Italic", var(--label-font);
    --credit-font: "Caviar Italic", "Caviar Bold Italic", var(--label-font);
    --title-font: var(--legend-font);
    --min-width-image-sidebar: 300px;
    --login-font: "Raleway800Italic", var(--label-font);
}

body {
    --body-height: 100vh;
    --body-width: 100vw;
    --body-padding: 0;
    --body-grid-column-gap: 3em;
    height: var(--body-height);
    width: calc(var(--body-width) - 2 * var(--body-padding));

    /* background-color: rgba(31, 66, 148, 0.716); */
    background-color: #000000b8;
    color: white;

    --form-strip-color: rgba(40, 29, 29, 0.805);
    --form-button-bg-color: rgba(20, 71, 153, 0.805);

    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: var(--body-grid-column-gap);
    align-items: center;

    margin: 0;
}

.image-sidebar {
    /* max-height: 100%;
    min-height: 500px; */
    height: var(--body-height);
    max-width: 100%;
    min-width: 300px;
    /* width: calc(height * (16/9)); */

    font-family: var(--title-font);
    font-size: 2em;
    /* color: white; */

    background-image: url(./assets/tobias-tullius-YM6YQMfRzCg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
}

.image-container {
    --image-width: 71.805px;
    --caption-width: 186.016px;
    --image-caption-gap: 0.1em;
    --side-padding: calc((100% - (var(--image-width) + var(--caption-width) + var(--image-caption-gap))) / 2);

    display: flex;
    align-items: center;
    column-gap: var(--image-caption-gap);

    padding: 0 50px 0 50px;

    height: 4em;

    background-color: rgb(149, 153, 154, .35);

    padding: 0 var(--side-padding);
}

.image-container > div {
    white-space: nowrap;
}

img {
    height: 3em;
}

#photo-credit {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 0.5em;
    font-family: var(--credit-font);
}

#photo-credit > a {
    color: white;
    text-decoration: none;
    font-family: var(--title-font);
}


.form-container {
    height: 100%;
    /* max-width: calc(100% * 0.9); */
    padding-right: var(--body-grid-column-gap);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .form-container > * {
    flex: 1;
} */

form {
    --form-min-width: 400px;
    --form-grid-column-gap: 1em;
    --form-grid-row-gap: 0.8em;
    /* height: calc(var(--form-max-height) * 0.5); */
    /* height: calc(var(--height) * 10%); */
    min-width: var(--form-min-width);
    font-family: var(--label-font);
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-template-rows: repeat(4, 1fr);
    column-gap: var(--form-grid-column-gap);
    row-gap: var(--form-grid-row-gap);
}

form::before {
    --form-shade-top-extend: 5px;
    --form-shade-top-offset: calc(var(--form-shade-top-extend) * -1);

    content: "";
    background-color: var(--form-strip-color); 
    position: relative;
    height: calc(100% + var(--form-shade-top-extend));
    width: 5000px;
    left: -500px;
    top: var(--form-shade-top-offset);
    z-index: -1;
    position: absolute;
}

.form-container {
    font-family: var(--legend-font);
}

.form-container > #form-description {
    grid-column: 1 / span 2;
}
/* 
form > div:has(label) {
    margin: 0.5em 0;
} */

form > div:has(button) {
    grid-column: 1 / 3;
}

form > p {
    grid-column: 1 / 3;
}

form > div > label + input {
    --input-box-padding: 0.25em;
    --input-box-top-margin: 0.5em;
    --border-width-min: 2px;
    margin: var(--input-box-top-margin) 0 0 0;
    padding: var(--input-box-padding);
    width: calc(100% - var(--input-box-padding) * 2 - var(--border-width-min) * 2);
}

form label {
    display: block;
}

form label > span {
    color: red;
}

/* input#first-name:invalid + span::after {
    content: "âŒ";
} */

#password-confirmation + span {
    position: relative;
}

#password-confirmation:invalid + span::after {
    --warning-padding: 2px;
    --warning-right-offset: 1.5px;
    font-family: "Caviar", var(--label-font);
    position: absolute;
    background-color: rgba(196, 44, 168, 0.601);
    padding: 2px;
    color: inherit;
    white-space: nowrap;
    content: "Inconsistent passwords";
    top: -1.95em;
    right: var(--warning-right-offset);
}

form p:last-child > a {
    text-decoration: none;
    font-weight: 800;
    font-style: italic;
    color: inherit;
}

form button {
    padding: 0.8em;
    margin: 1em 0;
    color: inherit;
    background-color: var(--form-button-bg-color);
    border-width: 0;
    border-radius: 10% / 30%;
}