@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@font-face {
    font-family: "Caviar Bold";
    src:
        url("fonts/CaviarDreams_Bold.woff2") format("woff2"),
        url("fonts/CaviarDreams_Bold.woff") format("woff");
}

@font-face {
    font-family: "Caviar Bold Italic";
    src:
        url("fonts/CaviarDreams_BoldItalic.woff2") format("woff2"),
        url("fonts/CaviarDreams_BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Caviar Italic";
    src:
        url("fonts/CaviarDreams_Italic.woff2") format("woff2"),
        url("fonts/CaviarDreams_Italic_1.woff") format("woff");
}

:root {
    --label-font: 
        "Raleway",
        "Caviar Bold",
        system-ui, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    --legend-font: "Caviar Bold Italic", "Caviar Italic", var(--label-font);
}

form > legend {
    font-family: var(--legend-font);
}

form {
    font-family: var(--label-font);
}

input#first-name:invalid + span::after {
    content: "âŒ";
}

#password:invalid+span::after {
    content: "Two passwords must be consistent."
}