@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@font-face {
    font-family: "Caviar Bold";
    src:
        url("fonts/CaviarDreams_Bold.woff2") format("woff2"),
        url("fonts/CaviarDreams_Bold.woff") format("woff");
}

@font-face {
    font-family: "Caviar Bold Italic";
    src:
        url("fonts/CaviarDreams_BoldItalic.woff2") format("woff2"),
        url("fonts/CaviarDreams_BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Caviar Italic";
    src:
        url("fonts/CaviarDreams_Italic.woff2") format("woff2"),
        url("fonts/CaviarDreams_Italic_1.woff") format("woff");
}

:root {
    --label-font: 
        "Raleway",
        "Caviar Bold",
        system-ui, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    --legend-font: "Caviar Bold Italic", "Caviar Italic", var(--label-font);
    --title-font: var(--legend-font);
    --min-width-image-sidebar: 300px;
}

body {
    --body-height: 100vh;
    --body-width: 100vw;
    --body-padding: 2em;
    height: var(--body-height);
    width: calc(var(--body-width) - 2 * var(--body-padding));
    /* padding: var(--body-padding); */
    /* grid */
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1em;
    align-items: center;

    margin: 0;
}

.image-sidebar {
    /* max-height: 100%;
    min-height: 500px; */
    height: var(--body-height);
    max-width: 100%;
    min-width: 300px;
    /* width: calc(height * (16/9)); */

    font-family: var(--title-font);
    font-size: 2em;

    background-image: url(./assets/tobias-tullius-YM6YQMfRzCg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* display: grid;
    grid-template-rows: repeat(3, 1fr); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-container {
    display: flex;
    align-items: center;

    padding: 0 50px 0 50px;

    height: 4em;

    background-color: rgb(149, 153, 154, .35);

    --side-padding: calc((100% - (71.805px + 186.016px)) / 2);
    padding: 0 var(--side-padding);
}

.image-container > div {
    white-space: nowrap;
}

img {
    height: 3em;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    --form-min-width: 400px;
    /* height: calc(var(--form-max-height) * 0.5); */
    /* height: calc(var(--height) * 10%); */
    height: 100%;
    min-width: var(--form-min-width);
    font-family: var(--label-font);

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-template-rows: repeat(6, 1fr);
}

.form-container > #form-description {
    font-family: var(--legend-font);
    grid-column: 1 / span 2;
}

form > div:has(button) {
    grid-column: 1 / 3;
}

form > p {
    grid-column: 1 / 3;
}


input#first-name:invalid + span::after {
    content: "âŒ";
}

#password:invalid+span::after {
    content: "Two passwords must be consistent."
}